
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Outfit" ,sans-serif;
}
main{
    font-size: 1.5rem;
    color: hsl(30, 10%, 34%);
}
figure img{
    /* height: 300px; */
    width: 100%;
}
article{
    padding: 25px;
}
#article-title{
    color: hsl(24, 5%, 18%);
    font-size: 3rem;
    font-family: "Young Serif", sans-serif;
}
#article-descr{
    padding-bottom: 5%;
}
#preparation-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    border-radius: 15px;
    background-color: hsl(330, 100%, 98%);
    padding: 25px;
}
#preparation-time{
    font-size: 2rem;
    font-weight: 700;
    color: hsl(332, 51%, 32%);
    padding-bottom: 10px;
    /* align-self: center; */
}
.preparation-content{
    display: flex;
    flex-direction: row;
    
}
.preparation-dot{
    font-size: 2rem;
    align-self: center;
    padding: 15px;
}
.preparation-text{
    
    align-self: center;
    /* padding-bottom: 20px; */
}
.preparation-text span{
    font-weight: 600;
}
#barra{
    padding-top: 30px;
}
#ingredientes-section{
    padding: 35px;
    /* border-bottom: 2px solid gray ; */
}
#ingredients-title{
    font-size: 2.5rem;
    font-family: "Young Serif", sans-serif;
    color: hsl(14, 45%, 36%);
    padding-bottom: 20px;
}
#section-instructions{
    display: flex;
    flex-direction: column;
    padding: 35px;
}
#instruction-title{
    font-size: 2.5rem;
    color: hsl(14, 45%, 36%);
    font-family: "Young Serif", sans-serif;
    padding-bottom: 20px;
}
.instruction-number{
    font-weight: 600;
    padding-right: 20px;
    align-self: flex-start;
    color: hsl(14, 45%, 36%);
}
.instruction-text{
    padding-bottom: 20px;
}
.instruction-text span{
    font-weight: 700;
}
#section-nutrition{
    display: flex;
    flex-direction: column;
    padding: 35px;
}
#table-nutrition td{
    border-bottom: 2px solid gray ;
    /* border-color: aqua; */
    padding: 15px;
}
#table-nutrition tr{
    border-bottom: 0cqmax;
}
.nutrition-valor{
    font-weight: 700;
    color: hsl(14, 45%, 36%);
}
@media(width>375px){
    body{
        padding: 40px 0px;
        background-color: #F3E5D8;
    }
    main{
        background-color: white;
        border-radius: 15px;
        width: 800px;
        height: 100%;
        padding: 20px;
    }
}