body {
  background-color: #f2f7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
}

.container {
  background-color: rgb(125, 188, 240);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.container:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card {
  text-align: left;
}

.card h2 {
  margin-bottom: 10px;
  
}

.card p {
  color: #777;
  margin-bottom: 20px;
}

.chart-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #d2e4ff;
  margin: 0 auto 30px;
  position: relative;
}

.circle .center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333;
  font-size: 14px;
  line-height: 1;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item p:first-child {
  font-weight: bold;
  color: #333;
}

.progress-bar {
  width: 150px;
  height: 6px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
}

.bar {
  
  background-color: #6195ff;
  height: 100%;
  border-radius: 10px;
  transition: width 0.3s ease;
}

.percentage {
  font-size: 12px;
  color: #777;
}

.see-more {
  text-align: right;
  text-decoration: none;
  color: #6195ff;
  font-size: 14px;
  cursor: pointer;
}

.see-more:hover {
  color: #3861f9;
}